extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.firstName')
        th= t('views.users.lastName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName
          td= user.lastName
          td= user.email
          td= formatDate(user.createdAt)
          td.d-flex.flex-wrap.gap-2
            a.btn.btn-primary(href=`/users/${user.id}/edit`)= t('views.users.edit.title')
            form(action=`/users/${user.id}` method='POST')
              input(type='hidden' name='_method' value='DELETE')
              button.btn.btn-danger(type='submit')= t('views.users.delete.submit')
