extends ../layouts/application.pug

block content
    a(href=route('newTask'))= t('views.tasks.new.title')
    table.table.table-striped
        thead
            tr
                th= t('views.tasks.id')
                th= t('views.tasks.name')
                th= t('views.tasks.description')
                th= t('views.tasks.status')
                th= t('views.tasks.creator')
                th= t('views.tasks.executor')
                th= t('views.tasks.createdAt')
        tbody
            each task in tasks
                tr
                    td= task.id
                    td
                        a(href=`/tasks/${task.id}`)= task.name
                    td= task.description
                    td= getStatusName(task.status)
                    td= getUserName(task.creator)
                    td= getUserName(task.executor) || t('views.tasks.notAssigned')
                    td= formatDate(task.createdAt)
