extends ../layouts/application.pug

block content
    a.btn.btn-primary.mb-5(href=route('newTask'))= t('views.tasks.new.title')

    div.card.shadow-sm.mb-5
        div.card-body.p-4
            form(action=route('tasks') method='GET')
                +search(search, 'status', t('views.tasks.status'), statuses)()
                +search(search, 'executor', t('views.tasks.executor'), users)()
                +search(search, 'label', t('views.tasks.labels'), labels)()
                +checkbox(search, 'isCreatorUser', t('views.tasks.search.myTasks'), errors)()
                +submit(search)(value=t('views.tasks.search.submit'))

    table.table.table-striped
        thead
            tr
                th= t('views.tasks.id')
                th= t('views.tasks.name')
                th= t('views.tasks.description')
                th= t('views.tasks.status')
                th= t('views.tasks.creator')
                th= t('views.tasks.executor')
                th= t('views.tasks.labels')
                th= t('views.tasks.createdAt')
                th= t('views.tasks.actions')
        tbody
            each task in tasks
                tr
                    td= task.id
                    td
                        a(href=`/tasks/${task.id}`)= task.name
                    td= task.description
                    td= getStatusName(task.status)
                    td= getUserName(task.creator)
                    td= getUserName(task.executor) || t('views.tasks.notAssigned')
                    td= getLabelsNames(task.labels) || t('views.tasks.noLabels')
                    td= formatDate(task.createdAt)
                    td.d-flex.flex-wrap.gap-2
                        a.btn.btn-primary(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.submit')
                        form(action=`/tasks/${task.id}` method='POST')
                            input(type='hidden' name='_method' value='DELETE')
                            button.btn.btn-danger(type='submit')= t('views.tasks.delete.submit')
