extends ../layouts/application.pug

block header
    = t('views.tasks.one.title') + task.id

block content
    div.mb-5
        a(href=route('tasks'))= t('views.tasks.back')
    p= t('views.tasks.name') + ': ' + task.name
    p= t('views.tasks.description') + ': ' + task.description
    p= t('views.tasks.status') + ': ' + getStatusName(status)
    p= t('views.tasks.creator') + ': ' + getUserName(creator)
    p= t('views.tasks.executor') + ': ' + (getUserName(executor) || t('views.tasks.notAssigned'))
    p= t('views.tasks.labels') + ': ' + (getLabelsNames(labels) || t('views.tasks.noLabels'))
    p= t('views.tasks.createdAt') + ': ' + formatDate(task.createdAt)
    div.d-flex.flex-wrap.gap-2
        a.btn.btn-primary(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.title')
        form(action=`/tasks/${task.id}` method='POST')
            input(type='hidden' name='_method' value='DELETE')
            button.btn.btn-danger(type='submit')= t('views.tasks.delete.submit')
